body {
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 1.5vw;
    background-color: #f6f6f6;
}

.small {
  width: 70%;
}

.big {
  width:70%;
  height: 200px;
}
